

#textbox{
    display: none;
}

#textboxa{
    display: none;
}

#main{
    width:300px;  
    height:200px;  
    position:absolute;  
    left:50%;  
    top:50%;  
    margin:-100px 0 0 -150px 
}
select{
    font-size: 20px;
    line-height: solid;
}
input{
    font-size: 20px;
}
button{
    font-size: 20px;
}